.control {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 221px;
	padding-right: 219px;
	padding-top: 1rem;
	position: absolute;
	bottom: -25%;
	left: 0;
}

.swiper-button-next:disabled,
.swiper-button-prev:disabled {
	opacity: 0.35;
}

.swiper-button-next {
	transform: rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	content: '';
}

.swiper-pagination {
	position: relative;
}

.swiper-wrapper {
	align-items: center;
}

.swiper-navigation {
	width: 850px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.next-slide {
	opacity: 0.4;
}

@media (min-width: 1280px) {
	.control {
		padding-left: 153px;
		padding-right: 182px;
		bottom: -21%;
	}
	.swiper-navigation {
		width: 660px;
	}
}

@media (min-width: 1400px) {
	.swiper-navigation {
		width: 660px;
	}
}

@media (min-width: 1601px) {
	.control {
		padding-left: 221px;
		padding-right: 219px;
		bottom: -25%;
	}

	.swiper-navigation {
		width: 860px;
	}
}

