.control {
	width: 1500px;
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.swiper-navigation {
	position: relative;
	width: 355px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
	color: #fff;
}

.swiper-button-next:disabled,
.swiper-button-prev:disabled {
	opacity: 0.35;
}

.swiper-button-next {
	transform: rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	content: '';
}

.swiper-pagination-fraction {
	width: max-content;
}

.swiper-pagination {
	position: relative;
}

.swiper-pagination-current {
	color: var(--accent_slider);
}
