.control {
	width: 1500px;
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.swiper-navigation {
	position: relative;
	width: 355px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.swiper-button-next:disabled,
.swiper-button-prev:disabled {
	opacity: 0.35;
}

.swiper-button-next {
	transform: rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	content: '';
}

.swiper-pagination {
	position: relative;
}

@media (min-width: 1280px) {
	.control {
		width: 1166px;
	}

	.swiper-navigation {
		width: 260px;
	}
}

@media (min-width: 1400px) {
	.control {
		width: 1350px;
	}

	.swiper-navigation {
		width: 310px;
	}
}

@media (min-width: 1601px) {
	.control {
		width: 1500px;
	}

	.swiper-navigation {
		width: 355px;
	}
}
