@import url('https://fonts.cdnfonts.com/css/mirra-auriolic');
@import url('https://fonts.cdnfonts.com/css/poiret-one');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';

@font-face {
	font-family: 'Mirra Auriolic', sans-serif;
	src: url('/fonts/mirra.otf');
}

@font-face {
	font-family: 'Poiret One', sans-serif;
	src: url('/fonts/PoiretOne-Regular.ttf');
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--estate-background: #090e17;
	--estate-background-image: url('/images/estate/estate_background.png');
	--spa-house-background-image: url('/images/spa_house/spa_house.png');
	--white: #fff;
	--accent_slider: #c76b4f;
	--secondary_slider: #2e3c55;
	--font_light: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--font_light);
	background-color: var(--estate-background);
	overflow-x: hidden;
}

.estate {
	background: var(--estate-background-image);
}

.estate__form {
	width: 218px;
	color: #aa6d57;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.swiper-pagination-fraction {
	color: var(--secondary_slider);
}

.swiper-pagination-current {
	color: var(--accent_slider);
}

.spa-house {
	background: var(--spa-house-background-image);
	background-size: contain;
	background-repeat: no-repeat;
}

.lineheight-normal {
	line-height: normal;
}
