.swiper-button-next:disabled,
.swiper-button-prev:disabled {
	opacity: 0.35;
}

.swiper-button-next {
	transform: rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	content: '';
}

.swiper-pagination {
	position: relative;
}

.swiper-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 598px;
	position: absolute;
	bottom: 111px;
	left: 31px;
	z-index: 1000;
}

@media (min-width: 1280px) {
	.swiper-navigation {
		width: 510px;
		bottom: 70px;
	}
}

@media (min-width: 1400px) {
	.swiper-navigation {
		width: 620px;
	}
}

@media (min-width: 1601px) {
	.swiper-navigation {
		width: 676px;
	}
}
